<article nz-typography>
  <h1 nz-typography>关于本项目</h1>
  <p nz-typography>
    <span
      nz-typography><strong>这是一个基于angular9和ng-zorro,ngrx的种子项目,并使用了很多常用第三方组件,方便快速上手业务开发,以及新手入门学习angular开发</strong></span>.
  </p>
  <h1 nz-typography>主要用到以下包/库</h1>
  <nz-table #basicTable [nzData]="packageInfo" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>包</th>
        <th>版本</th>
        <th>用途</th>
        <th>文档地址</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.package }}</td>
        <td>{{ data.version }}</td>
        <td>{{ data.use }}</td>
        <td>
          <a [href]="data.document" target="_blank">
          {{ data.document }}
        </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-divider></nz-divider>


</article>
